@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
	background-color: #fff;
    height: 100%;
    width: 100%;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	height: 100%;
	color: hotpink;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

header,
footer,
main, nav {
  /*set display to flex and vertically & horizontally align by setting justify-content and align-items to center*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	background-color: brown;
	flex-flow: wrap;
}

header h1 {
	/*float: left;*/
	margin: 0;
	padding: 38px 0;
	border-bottom: 3px solid green;
	width: 100%;
    text-align: center;
}
header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 46px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0 10px;
	line-height: 3em;
	/*display: inline;*/
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}
main {
	background-color: cadetblue;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	/*clear: both;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
	height: 100%;
}

.main-image {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	background-color: hotpink;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}
.main-title h3 {
	text-align: left;
	color: #77a466;
}
.main-title p {
	font-size: 1em;
	line-height: 25px;
	color: black;
}

.main-title p, h3 {
	padding: 5px 30px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	/*height: auto;*/
	border-top: 2px solid #eee;
	background-color: fuchsia;
	/*border-bottom: 2px solid #eee;*/
	/*display: flex;
	justify-content: center;
	/*align-items: center;*//*the sections don't need it*/
	/*flex-flow: wrap;*/
}
.section-three {
	border-bottom: 2px solid #eee;
}

.section-one h4, .section-two h4,
.section-three h4 {
	padding: 10px 30px;
	width: 100%;
	/*margin: 0 auto;*/
	
}

.section-one {
	/*border-left: 1px solid #eee;
	border-right: 1px solid #eee;*/
	background-color: darkcyan;
}
.section-two {
	/*border-left: 1px solid #eee;
	border-right: 1px solid #eee;*/
	background-color: coral;
}


.menu {
	list-style: none;
	padding: 0;
	background-color: darkolivegreen;
	width: 100%;
	margin: 0 auto;
}
.menu li {
	padding: 10px 30px;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
	background-color: darkslategrey;
	/*width: 100%;*/
	margin: 0 auto;
}

.address {
	font-size: 1em;
	line-height: 24px;
	background-color: dimgray;
	/*width: 100%;*/
	margin: 0 auto;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
	background-color: burlywood;

}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*
   @media all and (max-width: 768px) {
    body {
      padding: 1em;
    }
}*/

@media (min-width: 1024px) {
	
	.container{
		font-size: 1.15em;
	}
	
	.section-one,.section-two,.section-three {
	/*height: auto;
	background-color: fuchsia;
	display: flex;
	justify-content: center;
	align-items: center; /*in this case center aligning is a problem*/
	/*flex-flow: wrap;*/
	border-bottom: 2px solid #eee;
	border-top: 2px solid #eee;
	flex: 1 30%;
	min-height: 250px;
	border: none;
	}
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		}

	/*header nav {
    	font-size: 1.5em;
	}*/
}
	

@media (min-width: 1200px) {
	
	header nav ul li {	
		display: inline;
		/*flex: 1 60%;*/
	}
	header nav {
		flex: 1 60%;
	}
	header h1 {	
		display: inline;
		flex: 1 30%;
		border-bottom: none;
	}
	header {
		flex-flow: nowrap;
		border-bottom: none;
	}
	.main-image img {
		/*width: 100%;*/
		border-top: 3px solid #77a466;
	}
}

