@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}



/***************************MAIN STRUCTURE********************/
html {
	font-size: 16px;
	background-color: #fff;
    height: 100%; /*take up all available space, not just content space*/
    width: 100%;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	height: 100%;
}

/***************************FLEX CONTAINER*********************/
.container{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
}

/*************************SET FONT SIZES************************/
h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}


header,
footer,
main, nav {
  display: flex;
  align-items: center; 
  flex-flow: wrap; 
  justify-content: center;
  padding: 1em 0;
}

header, footer, main {
	width: 100%;
}

header {
	border-bottom: 3px solid #77a466;	
}

header h1 {
	border-bottom: 3px solid #77a466;
	color: black;
	margin: 0;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

header h1 span {
	color: #77a466;
}

header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {	
	font-weight: 700;
	font-size: 0.875em;
	line-height: 3em;
	padding: 0 10px;
	text-transform: uppercase;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

.top-section,
.bottom-section {
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
	margin: 0 auto;
}

/***********TOP-IMAGE SECTION************/
.main-image {
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

/***********MIDDLE-TEXT SECTION************/
.main-title {
	display: flex;
	align-items: center;
	flex-flow: wrap;
	justify-content: center;
	padding: 15px 0;
}

.main-title p, h3 {
	padding: 10px 30px;
	margin: 0;
	width: 100%;
}

.main-title h3 {
	color: #77a466;
}
.main-title p {
	font-size: 1em;
	line-height: 1.5625em;
	color: black;
}

/***********BOTTOM SECTION************/
.section-one,
.section-two,
.section-three {
	
	border-top: 2px solid #eee;
	padding: 10px 30px 30px;
	width: 100%;
}

.menu {
	list-style: none;
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

.menu li {
	padding: 10px 0px;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 24px;
	margin: 0 auto;
}

.address {
	font-size: 1em;
	line-height: 24px;
	margin: 0 auto;
}

/***********FOOTER SECTION************/

footer {
	border-top: 2px solid #eee;
}

footer span {
	color: #77a466;
	font-family: 'Wisdom Script', cursive;
	font-size: 0.875em;
	text-transform: lowercase;
}


/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */

@media (min-width: 1024px) {
	
	.container{
		font-size: 1.2em; /*increase text size of all sections for bigger screens*/
	}
	
	.section-one,.section-two,.section-three {
		border: none;
		border-top: 2px solid #eee;
		flex: 1 25%; /*makes the three sections into columns when the screen is big enough*/
		min-height: 250px; /*stops columns from changing sizes based on content*/
	
	}
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		}
}
	

@media (min-width: 1200px) {
	
	header {
		border-bottom: none;
	}
	
	header li {	
		display: inline;
	}

	header nav {
		flex: 1 60%; /*makes sure menu has enough space*/
		justify-content: flex-end; /*makes nav menu align to the right*/
	}

	header h1 {	
		flex: 1 30%; /*makes sure header doesn't take up more space than necessary*/
		border-bottom: none;
		text-align: left;
	}

	.main-image img {
		border-top: 3px solid #77a466;
	}

}

